rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone with your Firestore database reference to view, edit
    match /{document=**} {
      // Read permission is always allowed
      allow read: if true;
    }
  }
}